$primary-background-color: #17181a;
$secondary-background-color: #202123;

$title-color: #535556;
$primary-color: #f7f7f7;
$secondary-color: #02af75;
$input-background: #2e2e2e;
$errorMessage-color: #ec5b5b;

$border-radius: 5px;
